<nav id="nav">
		<ul> 
			<li class="active"><a href="home.erb">Home</a></li>
			<li><a href="about.erb">About</a></li>
			<li><a href="form.erb">Pricing</a></li>
			<li><a href="contact.erb">Contact</a></li>
		</ul>
</nav>